<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itmang.mapper.UserMapper">
<!--    number,name,role_id,sex,age,phone,address,create_time,create_by, update_time,update_by,status-->
    <select id="pageSearch" resultType="com.itmang.pojo.entity.User">
        select * from user
        <where>
            <if test="number != null and number != ''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="sex != null and sex != ''">and sex = #{sex}</if>
            <if test="age != null and age != ''">and age = #{age}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="address != null and address != ''">
                and address like concat('%',#{address},'%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
